extends index.pug

block content
  form.my-4(action='/login', method='post')
    .my-4
      +formControl('username')(
        type='text',
        name='username',
        required,
        minlength=6
      )
    .my-4
      +formControl('password')(
        type='password',
        name='password',
        required,
        minlength=8
      )
    .my-4
      +submitButton('Login')
