extends index.pug

block content
  form.my-4(action='/todos', method='post')
    +inputGroup
      +formControl(type='text', name='description', required)
      +submitButton('Add')

  ul.list-group.my-4
    each todo in todos
      li.list-group-item.todo-item
        form.d-flex.align-items-center(
          action='/todos/' + todo.id,
          method='post'
        )
          a.flex-grow-1(href='/todos/' + todo.id)= todo.description
          if !todo.done
            input(type='hidden', name='done', value='true')
            +submitButton('Mark Done')
          else
            +submitButton('Done', 'secondary')(disabled)
