extends index.pug

block content
  form(action='/todos', method='post')
    +inputGroup
      +formControl(type='text', name='description', required)
      +submitButton('Add')

  each todo in todos
    h3= todo.description
