mixin formControl
  input.form-control&attributes(attributes)

mixin button(text)
  button.btn.btn-primary= text

mixin submitButton(text, kind='primary')
  input.btn(type='submit', value=text, class='btn-' + kind)&attributes(attributes)

mixin inputGroup
  .input-group
    block
